@media(max-width:768px){
  .responsive{
    display: none;
  }
  #create-wrapper{
    margin-right: 50px;
  }
  #create-wrapper img{
    width: 90%;
    height: 300px;
  }
  .text p{
    height: 100px;
    padding: 30px 50px;
    top: 330px;
    left: -20px;
  }
  #science-wrapper {
    margin-left: 50px;
  }
  #science-wrapper img{
    width: 87%;
    height: 300px;
  }
  #science-wrapper .text p{
    top: 330px;
    left: 330px;
    padding: 30px 50px;
  }
}

@media(max-width:600px){
  .wrapper{
      overflow: hidden;
  }
  .heading h2{
    font-size: 28px;
  }
  #news-wrapper {
    width: 90%;
    padding-top: 100px;
    margin-bottom: 150px;
  }
  #news-wrapper .heading{
    margin-right: 20px;
  }
  .news{
    margin-right: 30px;
  }
  .news dt{
   padding-right: 15px;
  }
  .news dd{
    margin-left: 15px;
  }
  #create-wrapper,#science-wrapper {
    width: 95%;
    margin: 0;
  }
  #create-wrapper img,#science-wrapper img{
    height: 180px;
    width: 80%;
  }
  .text p{
    height: 85px;
    top: 220px;
    left: 0;
    padding: 15px 20px;
  }
  #science-wrapper {
    margin-left: 20px;
  }
  #science-wrapper .text p{
    height: 80px;
    top:220px;
    left: 130px;
    padding: 15px 20px;
  }
  footer h1{
    margin-right: 20px;
    margin-left: 20px;
  }
  .phone{
    margin-left: 20px;
  }
  .footer-link {
    margin-left: 0px;
    margin-top: -400px;
  }
}