html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    font-family: Noto Serif JP;
}

body {
    line-height:1;
    background-color: #E6E2D7;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
*,*::before,*::after{
  box-sizing: border-box;
}

header{
  width: 100%;
  height: 600px;
  writing-mode: vertical-rl;
  color: white;
}
header img{
  width: 100%;
  height: 100%;
  position: relative;
  object-fit: cover;
}
nav{
  position: absolute;
  top: 60px;
  right: 80px;
}
nav h1{
  font-size: 30px;
  font-weight: bold;
  margin-left: 50px;
  letter-spacing: 10px;
}
nav p{
  font-size: 16px;
  margin-left: 25px;
}
header a{
  color: white;
  text-decoration: none;
}
header a:hover{
  text-decoration: underline;
  opacity: 0.7;
}
.link{
  position: absolute;
  height: 250px;
  top: 320px;
  left: 40px;
  border: 1px solid#CCCCCC;
  background-color: #5f5b5b;
  padding: 30px 20px;
}
#news-wrapper{
  width: 73%;
  margin: 0 auto;
  writing-mode: vertical-rl;
  padding-top: 180px;
  margin-bottom: 200px;
}
#news-wrapper .heading{
  margin-right: 30px;
}
.heading{
  display: flex;
}
.heading h2{
  font-size: 36px;
}
.heading p{
  font-size: 14px;
  margin: 20px auto;
}
.news{
  margin-right: 100px;
  margin-top: 90px;
  height: 350px;
}
.news dt{
  font-size: 14px;
  padding: 15px 30px 15px 0;
  border-right: 1px solid black;
}
.news dd{
  font-size: 20px;
  margin: 15px 5px 15px 30px;
}
#create-wrapper{
  width: 73%;
  margin: 0 auto;
  writing-mode: vertical-rl;
  position: relative;
}
#create-wrapper img{
  width: 60%;
  height: 430px;
  margin: 100px 20px 180px auto;
}
.text p{
  height: 140px;
  writing-mode: horizontal-tb;
  color: white;
  border: 1px solid #707070;
  background-color: #1D1D15;
  padding: 50px 100px;
  position: absolute;
  top: 420px;
  left: 330px;
  opacity: 0.7;
}

#science-wrapper{
  width: 73%;
  margin: 0 auto;
  writing-mode: vertical-lr;
  position: relative;
}
#science-wrapper img{
  width: 60%;
  height: 430px;
  margin: 100px 0 180px 20px;
}
#science-wrapper .text p{
  writing-mode: horizontal-tb;
  color: white;
  border: 1px solid #D0C920;
  background-color :#D0C920;
  padding: 50px 100px;
  position: absolute;
  top: 420px;
  left: 390px;
  opacity: 0.8;
}
#ggmap iframe{
  width: 100%;
}
footer{
  width: 100%;
  height: 550px;
  background-color: black;
  color: white;
  writing-mode: vertical-rl;
  padding-top: 80px;
  display: flex;
  justify-content: space-between;
}
.footer-nav{
  height: 400px;
}
.phone{
  margin-left: 60px;
}
footer a{
  color: white;
  text-decoration: none;
}
footer a:hover{
  text-decoration: underline;
  opacity: 0.7;
}
footer h1{
  font-size: 30px;
  font-weight: bold;
  margin-right: 80px;
  margin-left: 50px;
  letter-spacing: 10px;
}
footer p{
  font-size: 16px;
  margin-left: 25px;
}
.footer-link {
  height: 350px;
  writing-mode: vertical-lr;
  margin-left: 30px;
  margin-top: -270px;
}